<% include partials/header %>

<div class="ui centered header"><h1>Doctors</h1></div>

<div class="cont">
    <div class="ui center aligned text container">
        <p class="contitle">Doctor Name</p>
    </div>
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="ui four wide column">
                <img src="https://image.freepik.com/free-vector/doctor-background-design_1270-62.jpg" class="ui fluid image">
            </div>
            <div class="ui twelve wide column">
                <div id="visdiv">
                <div class="ui center aligned text container">
                    <div class="context">
                        <span>Doctor Info: Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
                            and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic 
                            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
                            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including 
                            versions of Lorem Ipsum.</span> <br/> <br/> 
                        <h4>Qualifications:</h4>
                        <h5>A,B,C,D</h5>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cont">
        <div class="ui center aligned text container">
            <p class="contitle">Doctor Name2</p>
        </div>
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="ui four wide column">
                    <img src="https://image.freepik.com/free-vector/doctor-background-design_1270-62.jpg" class="ui fluid image">
                </div>
                <div class="ui twelve wide column">
                    <div id="visdiv">
                    <div class="ui center aligned text container">
                        <div class="context">
                            <span>Doctor Info: Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
                                and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic 
                                typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
                                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including 
                                versions of Lorem Ipsum.</span> <br/> <br/> 
                            <h4>Qualifications:</h4>
                            <h5>A,B,C,D</h5>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>
