<% include partials/header %>

<div class="cont">
  <div class="ui container slider">
    <ul id="slippry-demo">
      <li>
        <a href="#slide1"><img src="http://media2.govtech.com/images/940*529/hospital1.jpg" alt="Welcome to the best hospital ever!"></a>
      </li>
      <li>
        <a href="#slide2"><img src="https://ojasweb.com/ads/wp-content/uploads/2018/03/doctors-hospital-design-master768.jpg"  alt="We can make bananas dance!"></a>
      </li>
      <li>
        <a href="#slide3"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Hospital.svg/2000px-Hospital.svg.png" alt="I like chocolates."></a>
      </li>
    </ul>
  </div>
</div>

<div class="cont" id="aboutus">
  <div class="ui center aligned text container">
    <h2 class="contitle">About us</h2>
  </div>
  <div class="ui container">
    <div class="ui stackable grid">
      <div class="ui four wide column">
          <img src="https://image.freepik.com/free-vector/doctor-clinic-illustration_1270-69.jpg" class="ui fluid image">
      </div>
      <div class="ui twelve wide column">
          <div class="ui center aligned text container">
              <div class="context">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="cont" id="vision">
  <div class="ui center aligned text container">
    <h2 class="contitle">Vision</h2>
  </div>
  <div class="ui container">
    <div class="ui stackable grid">
      <div class="ui twelve wide column">
          <div class="ui center aligned text container">
              <div class="context">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
          </div>
      </div>
      <div class="ui four wide column">
          <img src="https://image.freepik.com/free-vector/doctor-background-design_1270-62.jpg" class="ui fluid image">
      </div>
    </div>
  </div>
</div>

<div class="cont" id="vision">
  <div class="ui center aligned text container">
    <h2 class="contitle">Vision</h2>
  </div>
  <div class="ui container">
    <div class="ui stackable grid">
      <div class="ui four wide column">
          <img src="https://image.freepik.com/free-vector/doctor-background-design_1270-62.jpg" class="ui fluid image">
      </div>
      <div class="ui twelve wide column">
        <div id="visdiv">
          <div class="ui center aligned text container">
            <div class="context">
              <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
              <!--<i class="quote left icon"></i>
              <i class="quote right icon"></i><br>
              <span class="right floated" style="font-size:18px;">-Abraham Lincoln</span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!--
<div class="cont" id="mapsdiv">
  <div class="ui center aligned text container">
    <h2>We are located at</h2>
    <div id="map" style="width:100%;height:400px;"></div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8N5CeyLKrgsAJ7lUqp2QJxJJcWIW3wsk&callback=initMap" async defer></script>
-->


<div class="cont" id="contactus">
  <div class="ui center aligned text container">
    <h2 class="contitle">Contact us</h2>
  </div>

  <div class="ui huge middle aligned center aligned text container">
    <div class="ui segments">
      <div class="ui segment">
        <h3>Phone numbers: </h3>
        <p>NaN</p>
        <p>afdfvcxzvd</p>
        <p>1234567890</p>
      </div>
      <div class="ui segment">
        <h3>Emails: </h3>
        <p>chipchapley@gmail.com</p>
        <p>asdf@ghjk.com</p>
      </div>
    </div>
  </div>
</div>

<script src="js/index_front.js"></script>

<% include partials/footer %>
