    <div class="footer">
      <div class="ui middle aligned center aligned text container">
        <div class="ui one column stackable grid">
          <div class="ui column">
            <h2>Links</h2>
            <a href="/"><h5>Home</h5></a>
            <a href="/#aboutus-right"><h5>About Us</h5></a>
            <a href="/doctors"><h5>Doctors</h5></a>
            <a href="/#vision"><h5>Vision</h5></a>
            <a href="/#contactus"><h5>Contact Us</h5></a>
          </div>
          <!--<div class="ui column">
            <h2>Yay!</h2>
            <a href="#"><h4>Hi</h4></a>
            <a href="#"><h4>Hello</h4></a>
            <a href="#"><h4>Hey</h4></a>
          </div>
          <div class="ui column">
            <h2>Yay!</h2>
            <a href="#"><h4>Hi</h4></a>
            <a href="#"><h4>Hello</h4></a>
            <a href="#"><h4>Hey</h4></a>
          </div> -->
        </div>
        <div class="column" style="margin-top: 20px;">
            <p>2017 © Sree Charith Hospitals</p>
        </div>
      </div>
    </div>

  </body>
</html>
