    <div class="footer">
      <div class="ui middle aligned center aligned text container">
        <div class="ui three column stackable grid">
          <div class="ui column">
            <h2>Yay!</h2>
            <a href="#"><h4>Hi</h4></a>
            <a href="#"><h4>Hello</h4></a>
            <a href="#"><h4>Hey</h4></a>
          </div>
          <div class="ui column">
            <h2>Yay!</h2>
            <a href="#"><h4>Hi</h4></a>
            <a href="#"><h4>Hello</h4></a>
            <a href="#"><h4>Hey</h4></a>
          </div>
          <div class="ui column">
            <h2>Yay!</h2>
            <a href="#"><h4>Hi</h4></a>
            <a href="#"><h4>Hello</h4></a>
            <a href="#"><h4>Hey</h4></a>
          </div>
        </div>
        <div class="column" style="font-size: 30px; margin-top: 20px;">
          <i class="thumbs up outline icon"></i>
        </div>
      </div>
    </div>

  </body>
</html>
