<!DOCTYPE html>
<html>
  <head>
    <title>Hospital</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/slippry-1.4.0/dist/slippry.min.js"></script>
    <link rel="stylesheet" href="js/slippry-1.4.0/dist/slippry.css">
  </head>
  <body>
    <div class="page-header">
      <div class="ui secondary menu stackable">
        <div class="ui container">
          <a href="/">
            <div class="ui label">
              <img src="images/minkey.png">
              <label>Minky's Hospital</label>
            </div>
          </a>
          <div class="right menu">
            <a class="item" href="/#aboutus">
              <p class="menu-btn">About us</p>
            </a>
            <a class="item" href="/#vision">
              <p class="menu-btn">Vision</p>
            </a>
            <a class="item" href="/#contactus">
              <p class="menu-btn">Contact us</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--<div id="backcut">

    </div>-->
