<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta type="description" content="Dheemahi Child Neurology">
    <meta type="keyword" content="sree charith hospital, Hospitals in tirupati, neurology endocrinology in tirupati, 
    neurology endocrinology in andhra pradesh, neurology endocrinology in india, neuro endocrinology in tirupati, 
    neuro endocrinology in andhra pradesh, neuro endocrinology in india">

    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/semantic.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  </head>
  <body>
    <div class="page-header">
      <div class="ui secondary menu stackable">
        <div class="ui container">

          <div>
            <a class="header item" href="/">
              <p class="menu-btn" style="font-size:25px;"><i class="plus square icon"></i>Sree Charit Hospitals 
                <span style="font-size:20px;">- Exclusive Neuro endocrine Center</span></p>
            </a>
            <!--
            <p style="color: white; font-size: 18px;">&nbsp;&nbsp;&nbsp; Phone number- 0877 2222177 &nbsp;&nbsp;&nbsp; Email- sreecharithhospitals@gmail.com</p>
            -->
          </div>

          <div class="right menu">
            <a class="item" href="/#aboutus-right">
              <p class="menu-btn">About us</p>
            </a>
            <a class="item" href="/doctors">
              <p class="menu-btn">Doctors</p>
            </a>
            <a class="item" href="/#specializations">
              <p class="menu-btn">Specializations</p>
            </a>
            <a class="item" href="/#contactus">
              <p class="menu-btn">Contact us</p>
            </a>
          </div>

        </div>
      </div>
    </div>

    <!--<div id="backcut">

    </div>-->
